{% extends "base.html" %}

{% block content %}
<style>
    .overall-container{
        width: 100vw;
        min-height: 500px;
        height: 80vh;
        margin: 0px;
        padding-top: 30px;
    }

    footer{
        margin-top: 0px !important;
    }
</style>
<div class="overall-container container">
    <h2>You have been logged out</h2>


    <div class="border-top pt-3">
            <small class="text-muted">
                Login Again <a href="{% url 'login' %}">Login</a>
            </small>
    </div>

</div>


{% endblock content %}

