footer{
    /* position: absolute;
    bottom: 0; */
}

.wiki_container{
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    max-width: 1300px;

    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 1em;
}

.return_button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 18px;
    color: white;

    white-space: nowrap;

    background-color: #e2b600;
    border-radius: 5px;
}

.return_button .fas{
    transition: 0.3s linear;
}

.return_button:hover{
    color: white;
    text-decoration: none;
}

.return_button:hover .fas{
    transform: translateX(-10px);
}

.edit_button{
    position: absolute;
    top: 2px;
    right: 2px;
    display: inline-block;
    text-align: center;

    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 25px;
}

.detail_container{
    position: relative;
    display: grid;
    gap: 1em;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #ebebeb;

    border-radius: 5px;
}

.detail_container h2,h3{
    text-transform: capitalize;
    margin: 0px;
}

.detail_container hr{
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info_container{
    grid-template-columns: 1fr;
    gap: 1em;
}

.important_info{
    grid-template-columns: 1fr max-content;
}

.description_info{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
}

.sub_info{
    margin: 0px;
}

.light{
    font-weight: 200;
}

/* Dynamic web starts here */
@media screen and (max-width: 1200px) {
    .wiki_container{
        grid-template-columns: 1fr 7fr;
    }
}

@media screen and (max-width: 1100px) {
    .wiki_container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 560px) {
    .description_info{
        grid-template-columns: 1fr;
    }

    .sub_info:nth-child(even){
        /* margin-left: 10px; */
    }

    .sub_info:nth-child(even)::before{
        content: "-";
        margin-right: 10px;
    }
}

@media screen and (max-width: 380px) {
    .important_info{
        grid-template-columns: 1fr;
    }

    .content_tags{
        grid-template-columns: 1fr;
    }
}