footer{
    /* position: absolute;
    bottom: 0; */
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
    color: black;
    font-weight: 300;
}

h2{
    font-weight: 600;
}

h4{
    font-weight: 500;
}

.wiki_container{
    margin-right: auto;
    margin-left: auto;
    width: 98vw;
    max-width: 1300px;

    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 1em;
}

/* Return button */
.return_button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 18px;
    color: white;

    white-space: nowrap;

    background-color: #e2b600;
    border-radius: 5px;
}

.return_button .fas{
    transition: 0.3s linear;
}

.return_button:hover{
    color: white;
    text-decoration: none;
}

.return_button:hover .fas{
    transform: translateX(-10px);
}

/* Edit button */
.edit_button{
    position: absolute;
    top: 2px;
    right: 2px;
    display: inline-block;
    text-align: center;

    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 25px;
}

/* Outside content div cover */
.outside_custom{
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #ebebeb;
}

.top_border{
    margin: 0px;
    width: 100%;
    border: 0px;
}

.top_border:nth-child(odd){
    border-top: 5px solid #e2b600;
}

.top_border:nth-child(even){
    border-top: 5px solid #27348b;
}

/* Content detail work */
.detail_container{
    position: relative;
    display: grid;
    gap: 15px;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.detail_container h2,h3{
    text-transform: capitalize;
    margin: 0px;
}

.detail_container hr{
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info_box{
    display: grid;
    gap: 5px;

    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgb(211,211,211,1);
    padding: 8px 10px;
    background-color: white;
}

.info_box_split_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.info_container{
    grid-template-columns: 1fr;
    gap: 1em;
}

.important_info{
    grid-template-columns: 1fr max-content;
}

.important_info h5:nth-child(odd){
    font-weight: 400;
}

.description_info{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
}

.sub_info{
    margin: 0px;
}

.small_note{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.light{
    font-weight: 200;
}

/* Dynamic web starts here */
@media screen and (max-width: 1200px) {
    .wiki_container{
        grid-template-columns: 1fr 7fr;
    }
}

@media screen and (max-width: 1000px) {
    .wiki_container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 650px) {
    .info_box_split_section{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 560px) {
    .description_info{
        grid-template-columns: 1fr;
    }

    .sub_info:nth-child(even)::before{
        content: "-";
        margin-right: 10px;
    }
}

@media screen and (max-width: 450px) {
    .important_info{
        grid-template-columns: 1fr;
    }

    .content_tags{
        grid-template-columns: 1fr;
    }
}