{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Load css -->
<link rel="stylesheet" type="text/css" href="{% static 'fodb/tables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fodb/css/wiki.css' %}">

<div class="wiki_container container">
    <div class="return_div">
        <a class="return_button" href="{% url 'fodb-home' %}"><i class="fas fa-chevron-left"></i> return</a>
    </div>

    <div class="detail_container">
        <h2>
            {{ opp.name }}
        </h2>

        <hr>

        <div class="info_container">
            <div class="important_info deadline_info">
                <h5>
                    Deadline :
                </h5>
                <h5>
                    {{ opp.closing_date|date:"d F Y" }}
                </h5>
            </div>
            <div class="important_info amount_info">
                <h5>
                    amount :
                </h5>
                <h5>
                    $ {{ opp.max_amount }}
                    {% if opp.amount_estimated %}
                    <span><small><small> <i>(Estimated)</i></small></small></span>
                    {% endif %}
                </h5>
            </div>
            <div class="important_info">
                <h5>
                    Duration :
                </h5>
                <h5>
                    {{ opp.max_duration }} {{ opp.duration_type}}
                    {% if opp.duration_estimated %}
                    <span><small><small> <i>(Estimated)</i></small></small></span>
                    {% endif %}
                </h5>
            </div>
        </div>

        <hr>

        <div class="content_tags">
            <h5>
                Faculty :
            </h5>
            <div class="content_department">
                {% if opp.hms %}
                <span class="tags tags_yellow">HMS</span>
                {% endif %}
                {% if opp.ems %}
                <span class="tags tags_green">EMS</span>
                {% endif %}
                {% if opp.science %}
                <span class="tags tags_blue">Science</span>
                {% endif %}
                {% if not opp.hms and not opp.ems and not opp.science %}
                <span class="tags tags_black">Not Specified</span>
                {% endif %}
            </div>

        </div>

        <div class="content_tags">
            <h5>
                Type include :
            </h5>
            <div class="content_type">
                {% if opp.ecr %}
                <span class="tags_icon"><i class="fas fa-business-time"></i>
                    <span class="tags_flags">
                        Early career research
                    </span>
                </span>
                {% endif %}

                {% if opp.travel %}
                <span class="tags_icon"><i class="fas fa-plane-departure"></i>
                    <span class="tags_flags">
                        Involve traveling
                    </span>
                </span>
                {% endif %}

                {% if opp.visiting %}
                <span class="tags_icon"><i class="fas fa-map-marked-alt"></i>
                    <span class="tags_flags">
                        Visiting
                    </span>
                </span>
                {% endif %}

                {% if opp.wir %}
                <span class="tags_icon"><i class="fas fa-female"></i><i class="fas fa-microscope"></i>
                    <span class="tags_flags">
                        Women in research
                    </span>
                </span>
                {% endif %}

                {% if opp.phd %}
                <span class="tags_icon"><i class="fas fa-graduation-cap"></i>
                    <span class="tags_flags">
                        PhD
                    </span>
                </span>
                {% endif %}

                {% if opp.international %}
                <span class="tags_icon"><i class="fas fa-globe"></i>
                    <span class="tags_flags">
                        International
                    </span>
                </span>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="description_info">
            <h5>
                Description :

            </h5>
            <h5 class="light">
                {{ opp.description }}
            </h5>

            <h6>
                <strong>
                    For more info, visit :
                </strong>
            </h6>
            <h6>
                <a target="_blank" href="{{ opp.link }}"> {{ opp.link }}</a>
            </h6>
        </div>

        <hr>

        <div class="info_container">
            <div class="important_info">
                <h5>
                    Create on :
                </h5>
                <h5>
                    {{ opp.creation_date|date:"d F Y" }}
                </h5>
            </div>
            <div class="important_info">
                <h5>
                    Last updated :
                </h5>
                <h5>
                    {{ opp.last_updated|date:"d F Y" }}
                </h5>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
