{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Load css under here -->
<!-- Filter column css -->
<link rel="stylesheet" type="text/css" href="{% static 'fodb/css/filter.css' %}">
<!-- Research content column css -->
<link rel="stylesheet" type="text/css" href="{% static 'fodb/css/research-content.css' %}">
<!-- This customise the layout of the entire page -->
<link rel="stylesheet" type="text/css" href="{% static 'fodb/css/tables.css' %}">

{% if user.is_authenticated %}

<!-- Work starts here -->

    <!-- The top section containing search bar -->
    <section class="head_container">
        <div class="search_container">
            <h1>
                Funding Opportunities
            </h1>
            <form action="" id="search_bar" method="POST">
                {% csrf_token %}
                <div class="search_form">
                    <input for="search_bar" type="text" name="search" placeholder="Search..">
                    <button for="search_bar" type="submit" class="btn btn-warning search_button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </section>

    <!-- Section displaying the opportunities given and the filters -->
    <section class="research_content container">
        <!-- The filter column -->
        {% include './home-filter.html' %}

        <!-- The opportunities column -->
        <div class="funding_column">
            <div class="funding_header">
                <p class="current">
                    Page {{ posts.number }}
                </p>
                <p><i>{{posts.paginator.count}}</i> entries</p>
            </div>

            <div class="content_section">
                {% for post in posts %}

                <div class="content_card">
                    <a target="_blank" style="text-decoration: none; color: black;" href="{% url 'fodb-detail' post.id %}">
                        <!-- This div contain name of the research, and the name of the provider -->
                        <div class="content_header">
                            <h3>
                                {{ post.name }}
                            </h3>
                            {% if post.provider %}
                            <h4>
                                {{ post.provider }}
                            </h4>
                            {% endif %}
                        </div>

                        <hr>

                        <!-- After this contains important information, it is hidden if null -->
                        <div class="info_container">
                            <div class="important_info deadline_info">
                                <h7>
                                    Submission deadline :
                                </h7>
                                <h7>
                                </h7>
                            </div>
                            <div class="important_info amount_info">
                                <h7>
                                    amount :
                                </h7>
                                <h7>
                                    $ {{ post.max_amount }}
                                    {% if post.amount_estimated %}
                                    <span><small><small> <i>(Estimated)</i></small></small></span>
                                    {% endif %}
                                </h7>
                            </div>
                            <div class="important_info">
                                <h7>
                                    duration :
                                </h7>
                                <h7>
                                    {{ post.max_duration }}
                                    {% if post.duration_type == "M" %}
                                    month{% if post.max_duration > 1 %}s{% endif %}
                                    {% else %}
                                    year{% if post.max_duration > 1 %}s{% endif %}
                                    {% endif %}
                                    {% if opp.duration_estimated %}
                                    <span><small><small> <i>(Estimated)</i></small></small></span>
                                    {% endif %}
                                </h7>
                            </div>
                            {% if post.internal_submission_date %}
                            <div class="important_info">
                                <h7>
                                    Internal deadline :
                                </h7>
                                <h7>
                                    {{ post.internal_submission_date|date:"d F Y" }}
                                </h7>
                            </div>
                            {% endif %}
                            {% if post.eoi_deadline %}
                            <div class="important_info">
                                <h7>
                                    EOI deadline :
                                </h7>
                                <h7>
                                    {{ post.eoi_deadline|date:"d F Y" }}
                                </h7>
                            </div>
                            {% endif %}
                            {% if post.minimum_data_deadline %}
                            <div class="important_info">
                                <h7>
                                    Minimum data deadline :
                                </h7>
                                <h7>
                                    {{ post.minimum_data_deadline|date:"d F Y" }}
                                </h7>
                            </div>
                            {% endif %}
                        </div>

                        <!-- The tags here involve faculty it belongs to and the subsequent tags that it has -->
                        <div class="content_tags">
                            <!-- The faculty involve -->
                            <div class="content_department">
                                {% if post.hms %}
                                <span class="tags tags_yellow">hms
                                    <span class="tags_flags">
                                        Health and Medical Science
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.ems %}
                                <span class="tags tags_green">ems
                                    <span class="tags_flags">
                                        Engineering and Mathematical Sciences
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.science %}
                                <span class="tags tags_blue">sci
                                    <span class="tags_flags">
                                        Science
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.fable %}
                                <span class="tags tags_violet">fable
                                    <span class="tags_flags">
                                        Faculty of Arts, Business, Law and Education
                                    </span>
                                </span>
                                {% endif %}

                                {% if not post.hms and not post.ems and not post.science and not post.fable %}
                                <span class="tags tags_black">Not Specified</span>
                                {% endif %}
                            </div>

                            <!-- The tags that it has -->
                            <div class="content_type">
                                {% if post.ecr %}
                                <span class="tags_icon"><i class="fas fa-business-time fa-fw"></i>
                                    <span class="tags_flags">
                                        Early career research
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.travel %}
                                <span class="tags_icon"><i class="fas fa-plane-departure fa-fw"></i>
                                    <span class="tags_flags">
                                        Involve traveling
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.visiting %}
                                <span class="tags_icon"><i class="fas fa-map-marked-alt fa-fw"></i>
                                    <span class="tags_flags">
                                        Visiting
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.wir %}
                                <span class="tags_icon"><i class="fas fa-female fa-sm"></i><i class="fas fa-microscope fa-sm"></i>
                                    <span class="tags_flags">
                                        Women in research
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.phd %}
                                <span class="tags_icon"><i class="fas fa-graduation-cap fa-fw"></i>
                                    <span class="tags_flags">
                                        PhD
                                    </span>
                                </span>
                                {% endif %}

                                {% if post.international %}
                                <span class="tags_icon"><i class="fas fa-globe fa-fw"></i>
                                    <span class="tags_flags">
                                        International
                                    </span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </a>

                    <!-- This is to indicate if the opportunities is limited per university -->
                    {% if post.limit_per_uni %}
                    <hr class="end_note_ruler">

                    <div class="noting_flag">
                        <i class="fas fa-flag hover_note"></i>
                        <p class="hover_text">
                            Limited per University. Please contact
                            <a href="mailto:researchgrants-ore@uwa.edu.au?subject=Enquiry about UWA funding opportunity web page&body=To whom it may concern,">
                                researchgrants-ore@uwa.edu.au
                            </a>
                        </p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </section>

{% endif %}

{% endblock content%}
