{% load static %}

<!-- Filter Content -->

<form action="" method="GET" class="filter_column">
    <div class="filter_crit" id="sort_box">
        <h3>
            Sort by
        </h3>

        <hr>

        <div class="form-group">
            <select name="sort" class="form-control">
                <option value="asc">A to Z</option>
                <option value="desc">Z to A</option>
                <option value="close-asc" selected>Nearest Deadline</option>
                <option value="close-desc">Furthest Deadline</option>
            </select>
        </div>
    </div>

    <div class="filter_crit" id="faculty">
        <h3>
            Faculty
        </h3>

        <hr>

        <div class="filter-checkbox-container">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.hms.id_for_label}}" name={{form.hms.name}} value="True"
                {% if form.hms.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.hms.id_for_label}}">
                    {{form.hms.label}}
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.ems.id_for_label}}" name={{form.ems.name}} value="True"
                {% if form.ems.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.ems.id_for_label}}">
                    {{form.ems.label}}
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.science.id_for_label}}" name={{form.science.name}} value="True"
                {% if form.science.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.science.id_for_label}}">
                    {{form.science.label}}
                </label>
            </div>
        </div>
    </div>

    <div class="filter_crit" id="type">
        <h3>
            Tags
        </h3>

        <hr>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.ecr.id_for_label}}" name={{form.ecr.name}} value="True"
                {{form.ecr.value}}
                {% if form.ecr.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.ecr.id_for_label}}">
                    <span class="tags_icon"><i class="fas fa-business-time fa-fw"></i>&nbsp{{form.ecr.label}}</span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.travel.id_for_label}}" name={{form.travel.name}} value="True"
                {% if form.travel.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.travel.id_for_label}}">
                    <span class="tags_icon"><i class="fas fa-plane-departure fa-fw"></i>&nbsp{{form.travel.label}}</span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.visiting.id_for_label}}" name={{form.visiting.name}} value="True"
                {% if form.visiting.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.visiting.id_for_label}}">
                    <span class="tags_icon"><i class="fas fa-map-marked-alt fa-fw"></i>&nbsp{{form.visiting.label}}</span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.wir.id_for_label}}" name="{{form.wir.name}}" value="True"
                {% if form.wir.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.wir.id_for_label}}">
                    <span class="tags_icon"><i class="fas fa-female fa-sm"></i><i class="fas fa-microscope fa-sm"></i>&nbsp{{form.wir.label}}</span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.international.id_for_label}}" name="{{form.international.name}}" value="True"
                {% if form.international.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.international.id_for_label}}">
                    <span class="tags_icon"><i class="fas fa-globe fa-fw"></i>&nbsp{{form.international.label}}</span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox"
                id="{{form.phd.id_for_label}}" name="{{form.phd.name}}" value="True"
                {% if form.phd.value == True %}
                    checked
                {% endif %} />
                <label class="custom-control-label" for="{{form.phd.id_for_label}}">
                    <span class="tags_icon"><i class="fas fa-graduation-cap fa-fw"></i>&nbsp{{form.phd.label}}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="filter_crit" id="month">
        <h3>
            Month
        </h3>

        <hr>

        <div class="form-group">
            <select name="month" class="form-control">
                <option value="-1">N/A</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            <select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="justify-self: start;">Filter</button>
</form>
