<!-- Filter content -->
<div class="col-md-3">
    <form action="" method="GET">
        <!-- {{ filter.form.as_ul }} -->
        <div class="content-section">
          <div class="sort-container">
              <div class="filter-title">
                  <h3>Sort by</h3>
              </div>
              <div class="filter-dropdown">
                  <select>
                      <option value="1">Alphabetical</option>
                      <option value="2">Closest deadline</option>
                  </select>
              </div>
          </div>
          <div class="faculty-container">
              <div class="filter-title">
                  <h3>Faculty</h3>
              </div>
              <div class="filter-checkbox-container">
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.hms.id_for_label}}" name={{filter.form.hms.name}} value="True"/>
                      <label for="{{filter.form.hms.id_for_label}}">HMS</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.ems.id_for_label}}" name={{filter.form.ems.name}} value="True"/>
                      <label for="{{filter.form.ems.id_for_label}}">EMS</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.science.id_for_label}}" name={{filter.form.science.name}} value="True"/>
                      <label for="{{filter.form.science.id_for_label}}">Science</label>
                  </div>
              </div>
          </div>
          <div class="type-container">
              <div class="filter-title">
                  <h3>Type</h3>
              </div>
              <div class="filter-checkbox-container">
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.ecr.id_for_label}}" name={{filter.form.ecr.name}} value="True"/>
                      <label for="{{filter.form.ecr.id_for_label}}">ECR</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.travel.id_for_label}}" name={{filter.form.travel.name}} value="True"/>
                      <label for="{{filter.form.travel.id_for_label}}">Travel</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.visting.id_for_label}}" name={{filter.form.visiting.name}}/>
                      <label for="{{filter.form.visiting.id_for_label}}">Visiting</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.wir.id_for_label}}" name={{filter.form.wir.name}}/>
                      <label for="{{filter.form.wir.id_for_label}}"">Women in Research</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.international.id_for_label}}" name={{filter.form.international.name}}/>
                      <label for="{{filter.form.international.id_for_label}}">International</label>
                  </div>
                  <div class="filter-option">
                      <input type="checkbox" id="{{filter.form.phd.id_for_label}}" name="{{filter.form.phd.name}}"/>
                      <label for="{{filter.form.phd.id_for_label}}">PhD Stripend</label>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <input type="submit"/>
      </div>
    </form>
</div>
