{% extends "base.html" %}
{% block content %}

{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'fodb/css/welcome.css' %}">

<section class="cover_section">
    <!-- <h1 class="welcome_title">
        Welcome to Funding Research Database
    </h1> -->

    {% if user.is_authenticated %}

      <h1 class="font-weight-light welcome_title">Funding Opportunities Database</h1>
      <h3 class="welcome_title"> <a class="welcome_lead" href="{% url 'fodb-home' %}"> Get Searching</a>  </h3>

    {% else %}

      <h1 class="font-weight-light welcome_title">Welcome to Funding Research Database</h1>
      <h4 class="welcome_title">
        <a class="welcome_lead" href="{% url 'login' %}">
            Login
        </a>
        or
        <a class="welcome_lead" href="{% url 'register' %}">
            register
        </a>
        to view oportunities available to you.
      </h4>

    {% endif %}

</section>

<!-- Page Content -->
<!-- <section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section> -->


{% endblock content%}
