{% extends "base.html" %}
{% block content %}

{% load static%}
<style>
  .foot_contain{
    margin-top: 0 !important;
  }

  .cover_section{
    position: relative;
    margin: 0px;
    padding: 0px;
    min-width: 99vw;
    width: 99vw;
    max-width: 99vw;
    height: 80vh;

    display: grid;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;

    background-image: url("{% static "fodb/images/searchbackground.png" %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .welcome_title{
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    justify-self: center;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;

    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8), 0 0 12px black;
  }

  .welcome_lead{
    color: #e2b600;
  }

  .welcome_lead:hover{
    color: white;
    text-decoration: none;
  }
</style>


<section class="cover_section">
    <!-- <h1 class="welcome_title">
        Welcome to Funding Research Database
    </h1> -->

    {% if user.is_authenticated %}

      <h1 class="font-weight-light welcome_title">Funding Opportunities Database</h1>
      <h3 class="welcome_title"> <a class="welcome_lead" href="{% url 'fodb-home' %}"> Get Searching</a>  </h3>

    {% else %}

      <h1 class="font-weight-light welcome_title">Welcome to Funding Research Database</h1>
      <h4 class="welcome_title">
        <a class="welcome_lead" href="{% url 'login' %}">
            Login
        </a>
        or
        <a class="welcome_lead" href="{% url 'register' %}">
            register
        </a>
        to view oportunities available to you.
      </h4>
      <br>
      <h5 class="welcome_title">
        Alternatively, 
        <a class="welcome_lead" href="{% url 'social:begin' 'google-oauth2' %}">
          login with Google
        </a>
      </h5>

    {% endif %}

</section>

<!-- Page Content -->
<!-- <section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section> -->


{% endblock content%}
