{% load static %}

<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/mockpage"><img src="{% static "authen/images/uwa_brand.png" %}" alt="Italian Trulli"></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-nav"
            aria-controls="#navbar-nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-items" id="navbar-nav">
        <ul class="navbar-nav navbar-items">
            <li class="nav-item">
                <a class="nav-link" href="/mockpage/greetings">
                <span>Greet Page</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/research/">
                <span>Researches</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span>Link 3</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-target="#user_options" aria-haspopup="true" aria-expanded="false">
                    <span>User name <i class="fas fa-angle-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="user_options">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </li>
        </ul>

    </div>
</nav>