{% load static %}
<style>
  .foot_contain {
    width: 100vw;
    height: 120px;
    margin: 0px;
    margin-top: 50px;
    padding: 10px;

    border-bottom: .35rem solid #e2b600;

    color: white;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .small_contain{
    display: grid;
    grid-template-columns: repeat(9, max-content);
    gap: 5px;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .small_contain a {
    color: white;
  }

  .small_contain a:hover{
    color: yellow;
  }
</style>

<footer class="foot_contain background_base">
  <div class="small_contain">
    <a href="">
      <p>Privacy</p>
    </a>
    <p>|</p>
    <a href="">
        <p>Cookies</p>
    </a>
    <p>|</p>
    <a href="">
        <p>Terms and Conditions</p>
    </a>
    <p>|</p>
    <a href="">
      <p>Contact us</p>
    </a>
    <p>|</p>
    <a href="">
      <p>FAQ</p>
    </a>
  </div>
</footer>
