{% load static %}

<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{% url 'fodb-home' %}"><img src="{% static "users/images/uwa_brand.png" %}" width="80%" alt="UWA logo"></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-nav"
            aria-controls="#navbar-nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-items" id="navbar-nav">
        <ul class="navbar-nav navbar-items">
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fodb-welcome' %}">
                <span>Home</span>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item ">
            <a class="nav-link" href="{% url 'fodb-home' %}">Opportunities
                <span class="sr-only">(current)</span>
            </a>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
            {% endif %}
        </ul>

    </div>
</nav>